
<label id="myText">TBD</label>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")
    @Scripts.Render("~/signalr/hubs")
    <script>
        var connection = $.hubConnection();
        var hub = connection.createHubProxy("DashboardHub");
        hub.on("updateWorkOrder", function (myText) {
            alert('');
            $('#myText').text(myText);
        });

        connection.start();
    </script>
}